.logo{
    image-rendering:pixelated;
    image-rendering:crisp-edges;
    margin-right:4px;
}

.side-bar{
    background: rgb(39,38,43);
    background: linear-gradient(90deg, rgba(39,38,43,0) 90%, rgba(213,87,15,0.1) 100%);
}

.single-content{
    margin:auto !important;
    text-align:center !important;
}